<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd"
    default-autowire="byName" default-lazy-init="false">
    
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="ds1"/>
    </bean>
    <bean id="jdbcTemplateSlave" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="ds1S"/>
    </bean>
    <bean id="jdbcTemplate1" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="ds2"/>
    </bean>
    
    <bean id="jdbcTemplate2" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="authDataSource"/>
    </bean>
    
    <bean id="jdbcTemplate4" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="ds4"/>
    </bean>
    
    <bean id="jdbcTemplate3" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="activityDS"/>
    </bean>
    <bean id="jdbcTemplate5" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="zpuserDS"/>
    </bean>
    
    <!-- read only data source -->
    <bean id="jdbcTemplateShopzpReadOnly" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dsShopzpReadOnly"/>
    </bean>
    <!-- read only data source -->
    
    <!-- Transaction manager for a single JDBC DataSource -->

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="ds1"/>
    </bean>
    <bean id="transactionManager1" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="ds2"/>
    </bean>
    <bean id="transactionManager2" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="authDataSource"/>
    </bean>
    <bean id="transactionManager3" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="activityDS"/>
    </bean>
    
     <bean id="transactionManager4" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="ds4"/>
    </bean>
     <bean id="transactionManager5" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="zpuserDS"/>
    </bean>
	<!-- myBatis文件 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="activityDS"/>
		<property name="mapperLocations" value="classpath:com/zpapi/**/mapper/*.xml"/>
	</bean>
     <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.zpapi.activity.dao,com.zpapi.other.dao" />
		
	</bean> 
    <!-- 
    <bean id="sqlSessionFactorySlave" class="javacommon.SqlSessionFactoryFactoryBean">
        <property name="configLocation" value="classpath:configuration.xml"/>
        <property name="mapperLocations">
          <list>
	         <value>classpath*:/com/zpapi/**/mapper/*Mapper.xml</value>
          </list>
        </property>
        <property name="dataSource" ref="ds1S"/>
    </bean> -->
    
    <bean id="sqlSessionFactory1" class="javacommon.SqlSessionFactoryFactoryBean">
        <property name="configLocation" value="classpath:configuration.xml"/>
        <property name="mapperLocations" value="classpath*:/com/**/model/**/uc/*Mapper.xml"/>
        <property name="dataSource" ref="ds2"/>
    </bean>
    
    <bean id="sqlSessionFactory2" class="javacommon.SqlSessionFactoryFactoryBean">
        <property name="configLocation" value="classpath:configuration.xml"/>
        <property name="mapperLocations" value="classpath*:/com/**/model/**/oauth/*Mapper.xml"/>
        <property name="dataSource" ref="authDataSource"/>
    </bean>
    
    <bean id="sqlSessionFactory3" class="javacommon.SqlSessionFactoryFactoryBean">
        <property name="configLocation" value="classpath:configuration.xml"/>
        <property name="mapperLocations" value="classpath*:/com/**/model/**/activity/*Mapper.xml"/>
        <property name="dataSource" ref="activityDS"/>
    </bean>
    
    <bean id="sqlSessionFactory4" class="javacommon.SqlSessionFactoryFactoryBean">
        <property name="configLocation" value="classpath:configuration.xml"/>
        <property name="mapperLocations" value="classpath*:/com/**/model/**/shop/*Mapper.xml"/>
        <property name="dataSource" ref="ds4"/>
    </bean>
    <bean id="sqlSessionFactory5" class="javacommon.SqlSessionFactoryFactoryBean">
        <property name="configLocation" value="classpath:configuration.xml"/>
        <property name="mapperLocations" value="classpath*:/com/**/model/**/uc/*Mapper.xml"/>
        <property name="dataSource" ref="zpuserDS"/>
    </bean>

    <bean id="sqlSessionFactory6" class="javacommon.SqlSessionFactoryFactoryBean">
        <property name="configLocation" value="classpath:configuration.xml"/>
        <property name="mapperLocations" value="classpath*:/com/**/pay/model/**/*Mapper.xml"/>
        <property name="dataSource" ref="authDataSource"/>
    </bean>
    
    <!-- read only data source 
    <bean id="shopzpReadOnlySqlSessionFactory" class="javacommon.SqlSessionFactoryFactoryBean">
        <property name="configLocation" value="classpath:configuration.xml"/>
        <property name="mapperLocations">
          <list>
	         <value>classpath*:/com/zpapi/**/mapper/*Mapper.xml</value>
          </list>
        </property>
        <property name="dataSource" ref="dsShopzpReadOnly"/>
    </bean>-->
    <!-- read only data source -->
    
    <!-- component-scan自动搜索@Component , @Controller , @Service , @Repository等标注的类 -->
	<context:component-scan base-package="com.**.dao"/>
	
    
</beans>
