<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zpapi.other.dao.GtPointCardMapper" >
  <resultMap id="BaseResultMap" type="com.zpapi.other.model.GtPointCard" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="is_check" property="isCheck" jdbcType="BIT" />
    <result column="card_num" property="cardNum" jdbcType="VARCHAR" />
    <result column="times_num" property="timesNum" jdbcType="INTEGER" />
    <result column="point" property="point" jdbcType="INTEGER" />
    <result column="start_date" property="startDate" jdbcType="INTEGER" />
    <result column="due_date" property="dueDate" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="BIT" />
    <result column="create_time" property="createTime" jdbcType="INTEGER" />
    <result column="active_date" property="activeDate" jdbcType="INTEGER" />
    <result column="active_member_id" property="activeMemberId" jdbcType="BIGINT" />
    <result column="task_id" property="taskId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, is_check, card_num, times_num, point, start_date, due_date, status, create_time, 
    active_date, active_member_id, task_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zpapi.other.model.GtPointCardExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from gt_point_card
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from gt_point_card
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from gt_point_card
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.zpapi.other.model.GtPointCardExample" >
    delete from gt_point_card
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zpapi.other.model.GtPointCard" >
    insert into gt_point_card (id, is_check, card_num, 
      times_num, point, start_date, 
      due_date, status, create_time, 
      active_date, active_member_id, task_id
      )
    values (#{id,jdbcType=BIGINT}, #{isCheck,jdbcType=BIT}, #{cardNum,jdbcType=VARCHAR}, 
      #{timesNum,jdbcType=INTEGER}, #{point,jdbcType=INTEGER}, #{startDate,jdbcType=INTEGER}, 
      #{dueDate,jdbcType=INTEGER}, #{status,jdbcType=BIT}, #{createTime,jdbcType=INTEGER}, 
      #{activeDate,jdbcType=INTEGER}, #{activeMemberId,jdbcType=BIGINT}, #{taskId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zpapi.other.model.GtPointCard" >
    insert into gt_point_card
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="isCheck != null" >
        is_check,
      </if>
      <if test="cardNum != null" >
        card_num,
      </if>
      <if test="timesNum != null" >
        times_num,
      </if>
      <if test="point != null" >
        point,
      </if>
      <if test="startDate != null" >
        start_date,
      </if>
      <if test="dueDate != null" >
        due_date,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="activeDate != null" >
        active_date,
      </if>
      <if test="activeMemberId != null" >
        active_member_id,
      </if>
      <if test="taskId != null" >
        task_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="isCheck != null" >
        #{isCheck,jdbcType=BIT},
      </if>
      <if test="cardNum != null" >
        #{cardNum,jdbcType=VARCHAR},
      </if>
      <if test="timesNum != null" >
        #{timesNum,jdbcType=INTEGER},
      </if>
      <if test="point != null" >
        #{point,jdbcType=INTEGER},
      </if>
      <if test="startDate != null" >
        #{startDate,jdbcType=INTEGER},
      </if>
      <if test="dueDate != null" >
        #{dueDate,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=INTEGER},
      </if>
      <if test="activeDate != null" >
        #{activeDate,jdbcType=INTEGER},
      </if>
      <if test="activeMemberId != null" >
        #{activeMemberId,jdbcType=BIGINT},
      </if>
      <if test="taskId != null" >
        #{taskId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zpapi.other.model.GtPointCardExample" resultType="java.lang.Integer" >
    select count(*) from gt_point_card
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update gt_point_card
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.isCheck != null" >
        is_check = #{record.isCheck,jdbcType=BIT},
      </if>
      <if test="record.cardNum != null" >
        card_num = #{record.cardNum,jdbcType=VARCHAR},
      </if>
      <if test="record.timesNum != null" >
        times_num = #{record.timesNum,jdbcType=INTEGER},
      </if>
      <if test="record.point != null" >
        point = #{record.point,jdbcType=INTEGER},
      </if>
      <if test="record.startDate != null" >
        start_date = #{record.startDate,jdbcType=INTEGER},
      </if>
      <if test="record.dueDate != null" >
        due_date = #{record.dueDate,jdbcType=INTEGER},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=BIT},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=INTEGER},
      </if>
      <if test="record.activeDate != null" >
        active_date = #{record.activeDate,jdbcType=INTEGER},
      </if>
      <if test="record.activeMemberId != null" >
        active_member_id = #{record.activeMemberId,jdbcType=BIGINT},
      </if>
      <if test="record.taskId != null" >
        task_id = #{record.taskId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update gt_point_card
    set id = #{record.id,jdbcType=BIGINT},
      is_check = #{record.isCheck,jdbcType=BIT},
      card_num = #{record.cardNum,jdbcType=VARCHAR},
      times_num = #{record.timesNum,jdbcType=INTEGER},
      point = #{record.point,jdbcType=INTEGER},
      start_date = #{record.startDate,jdbcType=INTEGER},
      due_date = #{record.dueDate,jdbcType=INTEGER},
      status = #{record.status,jdbcType=BIT},
      create_time = #{record.createTime,jdbcType=INTEGER},
      active_date = #{record.activeDate,jdbcType=INTEGER},
      active_member_id = #{record.activeMemberId,jdbcType=BIGINT},
      task_id = #{record.taskId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zpapi.other.model.GtPointCard" >
    update gt_point_card
    <set >
      <if test="isCheck != null" >
        is_check = #{isCheck,jdbcType=BIT},
      </if>
      <if test="cardNum != null" >
        card_num = #{cardNum,jdbcType=VARCHAR},
      </if>
      <if test="timesNum != null" >
        times_num = #{timesNum,jdbcType=INTEGER},
      </if>
      <if test="point != null" >
        point = #{point,jdbcType=INTEGER},
      </if>
      <if test="startDate != null" >
        start_date = #{startDate,jdbcType=INTEGER},
      </if>
      <if test="dueDate != null" >
        due_date = #{dueDate,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=INTEGER},
      </if>
      <if test="activeDate != null" >
        active_date = #{activeDate,jdbcType=INTEGER},
      </if>
      <if test="activeMemberId != null" >
        active_member_id = #{activeMemberId,jdbcType=BIGINT},
      </if>
      <if test="taskId != null" >
        task_id = #{taskId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zpapi.other.model.GtPointCard" >
    update gt_point_card
    set is_check = #{isCheck,jdbcType=BIT},
      card_num = #{cardNum,jdbcType=VARCHAR},
      times_num = #{timesNum,jdbcType=INTEGER},
      point = #{point,jdbcType=INTEGER},
      start_date = #{startDate,jdbcType=INTEGER},
      due_date = #{dueDate,jdbcType=INTEGER},
      status = #{status,jdbcType=BIT},
      create_time = #{createTime,jdbcType=INTEGER},
      active_date = #{activeDate,jdbcType=INTEGER},
      active_member_id = #{activeMemberId,jdbcType=BIGINT},
      task_id = #{taskId,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>